sudo apt upgrade && sudo apt update && sudo apt install python3-gdal libgdal* python3-geopandas python3-matplotlib python3-mpltoolkits.basemap libsqlite3-* sqlite3-* spatialite3-* python3-pip
pip3 install pyunpack
pip3 install mapclassify
pip3 install pyshp
pip3 install simplekml

